.projects {
  width: 100%;
  min-height: 100vh;
  padding: 80px 10%;
   background:#071629;
  color: white;
}

/* Header */
.projects-header {
  text-align: center;
  margin-bottom: 60px;
}

.projects-header h1 {
  font-size: 40px;
  font-weight: 700;
}

.projects-header span {
  color: #00f7ff;
}

.projects-header p {
  margin-top: 10px;
  color: #94a3b8;
}

/* Projects Grid */
.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

/* Project Card */
.project-card {
  background: #1e293b;
  border-radius: 15px;
  overflow: hidden;
  transition: 0.3s;
}

.project-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 20px 50px rgba(0,0,0,0.5);
}

/* Image */
.project-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* Content */
.project-content {
  padding: 20px;
}

.project-content h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  margin-bottom: 10px;
}

.project-content p {
  color: #cbd5f5;
  font-size: 14px;
  margin-bottom: 15px;
}

/* Tags */
.tags span {
  display: inline-block;
  background: #334155;
  padding: 5px 12px;
  margin: 5px 5px 0 0;
  border-radius: 20px;
  font-size: 12px;
}
.skills-tags{
display:flex;
flex-wrap:wrap;
gap:10px;
}

.tags span{
background:#071629;
border:1px solid #1c2e47;
padding:6px 12px;
border-radius:20px;
font-size:14px;
transition: 0.3s;
}
.tags span:hover{
    border-color: #18d3ff;
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(24, 211,255,0.3);
}

/* ---------------- MOBILE VIEW ---------------- */

@media (max-width: 1024px) {
  .projects-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {

  .projects {
    padding: 60px 20px;
  }

  .projects-header h1 {
    font-size: 30px;
  }

  .projects-container {
    grid-template-columns: 1fr;
    gap: 25px;
  }

  .project-img {
    height: 180px;
  }

  .project-content h3 {
    font-size: 18px;
  }

}

@media (max-width: 480px) {

  .projects-header h1 {
    font-size: 26px;
  }

  .project-img {
    height: 160px;
  }

  .project-content {
    padding: 15px;
  }

}
 .live-arrow{
  width:45px;
  height:45px;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  background:#2c3e50;
  color: white;
  font-size:16px;
  transition:0.4s;
  position:relative;
  overflow:hidden;
}

/* glowing circle */

.live-arrow::before{
  content:"";
  position:absolute;
  width:100%;
  height:100%;
  border-radius:50%;
  background:radial-gradient(circle,white,transparent);
  opacity:0;
  transition:0.4s;
}

/* hover animation */

.live-arrow:hover{
  transform:rotate(45deg) scale(1.2);
  background:#00e5ff;
  color:white;
  box-shadow:0 0 #00e5ff;
} 

 .live-arrow:hover::before{
  opacity:0.4;
} 

.github-btn{
width:45px;
height:45px;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
font-size:18px;
text-decoration:none;
transition:0.4s;
position:relative;
overflow:hidden;
margin-left: 80px;
background:#1e2d42;
color:white;
}

/* GITHUB BUTTON */
.github-btn:hover{
  color:#0077b5;
  box-shadow:0 0 15px #0077b5;
transform:scale(1.15);
}

/* GLOW EFFECT */

.github-btn::before{
content:"";
position:absolute;
width:100%;
height:100%;
background:radial-gradient(circle,transparent);
opacity:0;
transition:0.4s;
}

.github-btn:hover::before{
opacity:1;
}
 .live-arrows{
  width:45px;
  height:45px;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  background:#2c3e50;
  color: white;
  font-size:16px;
  transition:0.4s;
  position:relative;
  overflow:hidden;
}

/* glowing circle */

.live-arrows::before{
  content:"";
  position:absolute;
  width:100%;
  height:100%;
  border-radius:50%;
  background:radial-gradient(circle,transparent);
  opacity:0;
  transition:0.4s;
}

/* hover animation */

.live-arrows:hover{
  transform:rotate(45deg) scale(1.2);
  background:#00e5ff;
  color:white;
  box-shadow:0 0 #00e5ff;
} 

 .live-arrows:hover::before{
  opacity:0.4;
} 
.github-btns{
width:45px;
height:45px;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
font-size:18px;
text-decoration:none;
transition:0.4s;
position:relative;
overflow:hidden;
margin-left: 110px;
background:#1e2d42;
color:white;
}

/* GITHUB BUTTON */
.github-btns:hover{
  color:#0077b5;
  box-shadow:0 0 15px #0077b5;
transform:scale(1.15);
}


/* GLOW EFFECT */

.github-btns::before{
content:"";
position:absolute;
width:100%;
height:100%;
background:radial-gradient(circle,transparent);
opacity:0;
transition:0.4s;
}

.github-btns:hover::before{
opacity:1;
}
 .live-arr{
  width:65px;
  height:40px;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  background:#2c3e50;
  color: white;
  font-size:16px;
  transition:0.4s;
  margin-left: 20px;
  position:relative;
  overflow:hidden;
}

/* glowing circle */

.live-arr::before{
  content:"";
  position:absolute;
  width:100%;
  height:100%;
  border-radius:50%;
  background:radial-gradient(circle,white,transparent);
  opacity:0;
  transition:0.4s;
}

/* hover animation */

.live-arr:hover{
  transform:rotate(25deg) scale(1.2);
  background:#00e5ff;
  color:white;
  box-shadow:0 0 #00e5ff;
} 

 .live-arr:hover::before{
  opacity:0.4;
} 