*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI;
}

body{
background:#071629;
}
svg{
  fill:currentColor;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}
section {
  scroll-margin-top: 80px;
}